@tailwind base;
@tailwind components;
@tailwind utilities;

body{


    background-color: #D9D9D9;
  
    overflow: hidden;

}



.input::placeholder{
    color: gray;
  
}

 .main__content{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
} 

.input__holder{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-top: 40px;

    margin-bottom: 40px;

}
.class{

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.row { 

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.abous{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type='text'],
input[type='email'],
input[type='password'],
select{


    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"]{

    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]{

    width: 100%;
    background-color: #40453e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type="submit"]:hover{

    background-color: #45a049;
}
/* 
@media only screen and (max-width: 768px){



    .group{

        display: none;
    }

} */

.hide-menu{

    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;

    /* opacity: 0; */
    z-index: 999;
    color: white;
    opacity: 0;
   


}


/* #hide{

    display: flex;
   }

 */


 .menu__backdrop {
    position: absolute;
    background-color: #0d7bbe;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
    transform: translate(100%);
  }



  .btn__menu {
    background-color: transparent;
    font-size: 32px;
    border: none;
    color: #0d7bbe;
    display: none;
  }

  .menu--open {
    max-height: 100vh;
    overflow: hidden;
  }
  
  .menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
  }
  
  .menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu__list {
    padding: 32px 0;
  }
  
  .menu__link {
    color: white;
    font-size: 40px;
  }
  
  .btn__menu--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: white;
  }
  
  
  


@media only screen and (max-width: 768px){



      .lists > li{
 
        
      
      display: none;
       

    
    } 

  


    .logocont{
 
     display: none;
 
    }
 
   .btn__menu {
    display: block;
  }

.group-bubbles{


  display: none;
}
  
 
.sidebar{

  display: none;
}





}


